import java.util.List;
import java.util.UUID;

import javax.transaction.Transactional;
import javax.validation.Valid;
import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.NotFoundException;
import javax.ws.rs.POST;
import javax.ws.rs.PUT;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;
import javax.ws.rs.core.Response.Status;
<% if (openapi) { %>
import org.eclipse.microprofile.openapi.annotations.Operation;
import org.eclipse.microprofile.openapi.annotations.media.Content;
import org.eclipse.microprofile.openapi.annotations.media.Schema;
import org.eclipse.microprofile.openapi.annotations.responses.APIResponse;
import org.eclipse.microprofile.openapi.annotations.tags.Tag;<% } %>

@Path("${3:/api/${2}s/v1/}")
@Produces(MediaType.APPLICATION_JSON)
@Consumes(MediaType.APPLICATION_JSON)
<% if (openapi) { %>@Tag(name = "${2:resource}s", description = "Operations on ${2}s resource.")<% } %>
public class ${TM_FILENAME_BASE} {

    @GET
    <% if (openapi) { %>@Operation(summary = "Get all ${2}s")<% } %>
    public List<${4:Entity}> get() {
        return $4.listAll();
    }

    @GET
    @Path("{id}")<% if (openapi) { %>
    @APIResponse(responseCode = "200")
    @APIResponse(responseCode = "404", description = "${2/(.*)/${1:/capitalize}/} not found")
    @Operation(summary = "Find $2 by ID")<% } %>
    public $4 getSingle(@PathParam("id") UUID id) {
        return $4.findByIdOptional(id).orElseThrow(NotFoundException::new);
    }

    @POST
    @Transactional<% if (openapi) { %>
    @APIResponse(responseCode = "201",
            description = "${2/(.*)/${1:/capitalize}/} created",
            content = @Content(schema = @Schema(implementation = $4.class)))
    @APIResponse(responseCode = "406", description = "Invalid data")
    @APIResponse(responseCode = "409", description = "${2/(.*)/${1:/capitalize}/} already exists")
    @Operation(summary = "Create new $2")<% } %>
    public Response create(@Valid $4 entity) {
        if ($4.exists(entity)) {
            return Response.status(Status.CONFLICT).build();
        }

        entity.persist();
        return Response.ok(entity).status(Status.CREATED).build();
    }

    @PUT
    @Path("{id}")
    @Transactional<% if (openapi) { %>
    @APIResponse(responseCode = "200",
            description = "${2/(.*)/${1:/capitalize}/} created",
            content = @Content(schema = @Schema(implementation = $4.class)))
    @APIResponse(responseCode = "404", description = "${2/(.*)/${1:/capitalize}/} not found")
    @APIResponse(responseCode = "409", description = "${2/(.*)/${1:/capitalize}/} already exists")
    @Operation(summary = "Edit $2 by ID")<% } %>
    public Response update(@PathParam("id") UUID id, @Valid $4 newEntity) {
        $4 entity = $4.findByIdOptional(id).orElseThrow(NotFoundException::new);

        if ($4.exists(entity, id)) {
            return Response.status(Status.CONFLICT).build();
        }

        entity.title = newEntity.title;
        $0

        entity.persist();
        return Response.ok(entity).status(Status.OK).build();
    }

    @DELETE
    @Transactional
    @Path("{id}")<% if (openapi) { %>
    @APIResponse(responseCode = "204", description = "${2/(.*)/${1:/capitalize}/} deleted")
    @APIResponse(responseCode = "404", description = "${2/(.*)/${1:/capitalize}/} not found")
    @Operation(summary = "Delete $2 by ID")<% } %>
    public Response delete(@PathParam("id") UUID id) {
        $4 entity = $4.findByIdOptional(id).orElseThrow(NotFoundException::new);
        entity.delete();
        return Response.status(Status.NO_CONTENT).build();
    }
}
